# ======================
# Python (Backend)
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
.env
.env.*

# Virtual environment
venv/

# Chroma DB storage
backend/chroma_storage/

# Uploaded documents
backend/uploads/

# ======================
# Node / React (Frontend)
# ======================
node_modules/
dist/
dist-ssr/
*.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# ======================
# Logs
# ======================
logs/

# ======================
# OS / Editors
# ======================
.DS_Store
Thumbs.db

.vscode/*
!.vscode/extensions.json
.idea/

*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?